@model List<ShopUnivercity.Web.Models.Entities.Products.Product>
@{
    ViewData["Title"] = " محصولات";
}
<div class="sticky_header_area sticky-header">
	<div class="container">
		<div class="row align-items-center">
			<div class="col-lg-3">
				<div class="logo">
					<a href="index.html"><img src="/assets/img/logo/logo.png" alt=""></a>
				</div>
			</div>
			<div class="col-lg-9">
				<div class="sticky_header_right menu_position">
					<div class="main_menu">
						<nav>
							<ul>
								<li>
									<a href="index.html">خانه<i class="fa fa-angle-down"></i></a>
									<ul class="sub_menu">
										<li><a href="index.html">خانه فروشگاه 1</a></li>
										<li><a href="index-2.html">خانه فروشگاه 2</a></li>
										<li><a href="index-3.html">خانه فروشگاه 3</a></li>
										<li><a href="index-4.html">خانه فروشگاه 4</a></li>
										<li><a href="index-5.html">خانه فروشگاه 5</a></li>
									</ul>
								</li>
								<li class="mega_items">
									<a class="active" href="shop.html">فروشگاه<i class="fa fa-angle-down"></i></a>
									<div class="mega_menu">
										<ul class="mega_menu_inner">
											<li>
												<a href="#">طرح های فروشگاه</a>
												<ul>
													<li><a href="shop-fullwidth.html">تمام عرض</a></li>
													<li><a href="shop-fullwidth-list.html">تمام عرض لیست</a></li>
													<li><a href="shop-left-sidebar.html">نوار کناری چپ </a></li>
													<li><a href="shop-left-sidebar-list.html"> نوار کناری چپ لیست</a></li>
													<li><a href="shop-list.html">نمایش لیست</a></li>
												</ul>
											</li>
											<li>
												<a href="#">سایر صفحات</a>
												<ul>
													<li><a href="cart.html">سبد خرید</a></li>
													<li><a href="wishlist.html">لیست علاقه‌مندی‌ها</a></li>
													<li><a href="checkout.html">پرداخت</a></li>
													<li><a href="my-account.html">حساب کاربری</a></li>
													<li><a href="404.html">خطای 404</a></li>
												</ul>
											</li>
											<li>
												<a href="#">انواع محصول</a>
												<ul>
													<li><a href="product-details.html">جزئیات محصول</a></li>
													<li><a href="product-sidebar.html">محصول با نوار کناری</a></li>
													<li><a href="product-grouped.html">محصول گروهبندی شده</a></li>
													<li><a href="variable-product.html">محصول متغیر</a></li>
													<li><a href="product-countdown.html">محصول شمارنده</a></li>

												</ul>
											</li>
											<li>
												<a href="#">ابزارهای کامپیوتر</a>
												<ul>
													<li><a href="shop.html">کابل و اتصال دهنده ها</a></li>
													<li><a href="shop-list.html">تبلت های گرافیکی</a></li>
													<li><a href="shop-fullwidth.html">پرینتر ها، جوهر و تونر</a></li>
													<li><a href="shop-fullwidth-list.html">تبلت های دست دوم</a></li>
													<li><a href="shop-left-sidebar.html">درایو های نوری</a></li>

												</ul>
											</li>
										</ul>
									</div>
								</li>
								<li>
									<a href="blog.html">بلاگ<i class="fa fa-angle-down"></i></a>
									<ul class="sub_menu pages">
										<li><a href="blog-details.html">جزئیات مطلب بلاگ</a></li>
										<li><a href="blog-fullwidth.html">بلاگ تمام عرض</a></li>
										<li><a href="blog-sidebar.html">بلاگ نوار کناری راست</a></li>
										<li><a href="blog-no-sidebar.html">بلاگ بدون نوار کناری</a></li>
									</ul>
								</li>
								<li>
									<a href="#">صفحات <i class="fa fa-angle-down"></i></a>
									<ul class="sub_menu pages">
										<li><a href="about.html">درباره ما</a></li>
										<li><a href="services.html">خدمات</a></li>
										<li><a href="privacy-policy.html">سیاست حریم خصوصی</a></li>
										<li><a href="faq.html">سوالات متداول</a></li>
										<li><a href="contact.html">تماس</a></li>
										<li><a href="login.html">ورود</a></li>
										<li><a href="404.html">خطای 404</a></li>
									</ul>
								</li>

								<li><a href="about.html">درباره ما</a></li>
								<li><a href="contact.html"> تماس با ما</a></li>
							</ul>
						</nav>
					</div>
					<div class="middel_right_info">
						<div class="header_wishlist">
							<a href="wishlist.html"><i class="fa fa-heart-o" aria-hidden="true"></i></a>
							<span class="wishlist_quantity">3</span>
						</div>
						<div class="mini_cart_wrapper">
							<a href="javascript:void(0)"><i class="fa fa-shopping-bag" aria-hidden="true"></i> <i class="fa fa-angle-down"></i></a>
							<span class="cart_quantity">2</span>
							<!--mini cart-->
							<div class="mini_cart">
								<div class="cart_items_container">
									<div class="cart_item">
										<div class="cart_img">
											<a href="#"><img src="/assets/img/s-product/product.jpg" alt=""></a>
										</div>
										<div class="cart_info">
											<a href="#">گوشی هوشمند سامسونگ A50</a>
											<p>تعداد: 1 × <span> 60,000 تومان </span></p>
										</div>
										<div class="cart_remove">
											<a href="#"><i class="ion-android-close"></i></a>
										</div>
									</div>
									<div class="cart_item">
										<div class="cart_img">
											<a href="#"><img src="/assets/img/s-product/product2.jpg" alt=""></a>
										</div>
										<div class="cart_info">
											<a href="#">لورم ایپسوم متن ساختگی با تولید سادگی</a>
											<p>تعداد: 1 × <span> 60,000 تومان </span></p>
										</div>
										<div class="cart_remove">
											<a href="#"><i class="ion-android-close"></i></a>
										</div>
									</div>
								</div>
								<div class="mini_cart_table">
									<div class="cart_total">
										<span>جمع اجزا:</span>
										<span class="price">138,000 تومان </span>
									</div>
									<div class="cart_total mt-10">
										<span>جمع کل:</span>
										<span class="price">138,000 تومان </span>
									</div>
								</div>

								<div class="mini_cart_footer">
									<div class="cart_button">
										<a href="cart.html">مشاهده سبد</a>
									</div>
									<div class="cart_button">
										<a href="checkout.html">پرداخت</a>
									</div>

								</div>

							</div>
							<!--mini cart end-->
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!--sticky header area end-->
<!--breadcrumbs area start-->
<div class="breadcrumbs_area">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<div class="breadcrumb_content">
					<ul>
						<li><a href="index.html">خانه</a></li>
						<li>دوربین و ویدیو </li>
						<li>فروشگاه</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
<!--breadcrumbs area end-->
<!--shop  area start-->
<div class="shop_area shop_reverse mt-60 mb-60">
	<div class="container">
		<div class="row">
			<div class="col-lg-3 col-md-12">
				<!--sidebar widget start-->
				<aside class="sidebar_widget">
					<div class="widget_inner">
						<div class="widget_list widget_categories">
							<h2>دسته های محصولات</h2>
							<ul>
								<li><a href="#">دوربین عکاسی و فیلمبرداری</a></li>
								<li class="widget_sub_categories">
									<a href="javascript:void(0)">کامپیوتر و شبکه</a>
									<ul class="widget_dropdown_categories">
										<li><a href="#">کامپیوتر</a></li>
										<li><a href="#">ابزار شبکه</a></li>
									</ul>
								</li>
								<li><a href="#">بازی و کنسول</a></li>
								<li><a href="#">هدفون و اسپیکر</a></li>
								<li><a href="#">فیلم و بازی ویدئویی</a></li>
								<li><a href="#">گوشی هوشمند</a> </li>
								<li><a href="#">بدون دسته</a></li>
							</ul>
						</div>
						<div class="widget_list widget_filter">
							<h2>فیلتر با قیمت</h2>
							<form action="">
								<div id="slider-range"></div>
								<input type="text" id="amount">
								<button type="submit">فیلتر</button>
								<input type="hidden" id="price-min" name="price_min">
								<input type="hidden" id="price-max" name="price_max">
							</form>
						</div>
						<div class="widget_list">
							<h2>مقایسه محصولات</h2>
							<div class="recent_product_container">
								<article class="recent_product_list">
									<figure>
										<div class="product_thumb">
											<a href="product-details.html"><img src="/assets/img/product/product1.jpg" alt=""></a>
										</div>
										<div class="product_content">
											<h3><a href="product-details.html">گوشی موبایل شیائومی</a></h3>
											<div class="product_ratings">
												<ul>
													<li><a href="#"><i class="ion-android-star-outline"></i></a></li>
													<li><a href="#"><i class="ion-android-star-outline"></i></a></li>
													<li><a href="#"><i class="ion-android-star-outline"></i></a></li>
													<li><a href="#"><i class="ion-android-star-outline"></i></a></li>
													<li><a href="#"><i class="ion-android-star-outline"></i></a></li>
												</ul>
											</div>
											<div class="price_box">
												<span class="old_price">70,000 تومان</span>
												<span class="current_price">65,000 تومان</span>
											</div>
										</div>
									</figure>
								</article>
								<article class="recent_product_list">
									<figure>
										<div class="product_thumb">
											<a href="product-details.html"><img src="/assets/img/product/product2.jpg" alt=""></a>
										</div>
										<div class="product_content">
											<h3><a href="product-details.html">هندزفری بیسیم سونی</a></h3>
											<div class="product_ratings">
												<ul>
													<li><a href="#"><i class="ion-android-star-outline"></i></a></li>
													<li><a href="#"><i class="ion-android-star-outline"></i></a></li>
													<li><a href="#"><i class="ion-android-star-outline"></i></a></li>
													<li><a href="#"><i class="ion-android-star-outline"></i></a></li>
													<li><a href="#"><i class="ion-android-star-outline"></i></a></li>
												</ul>
											</div>
											<div class="price_box">
												<span class="old_price">70,000 تومان</span>
												<span class="current_price">65,000 تومان</span>
											</div>
										</div>
									</figure>
								</article>
								<article class="recent_product_list">
									<figure>
										<div class="product_thumb">
											<a href="product-details.html"><img src="/assets/img/product/product24.jpg" alt=""></a>
										</div>
										<div class="product_content">
											<h3><a href="product-details.html">اسپیکر بلوتوثی Anker</a></h3>
											<div class="product_ratings">
												<ul>
													<li><a href="#"><i class="ion-android-star-outline"></i></a></li>
													<li><a href="#"><i class="ion-android-star-outline"></i></a></li>
													<li><a href="#"><i class="ion-android-star-outline"></i></a></li>
													<li><a href="#"><i class="ion-android-star-outline"></i></a></li>
													<li><a href="#"><i class="ion-android-star-outline"></i></a></li>
												</ul>
											</div>
											<div class="price_box">
												<span class="old_price">70,000 تومان</span>
												<span class="current_price">65,000 تومان</span>
											</div>
										</div>
									</figure>
								</article>
							</div>
						</div>
						<div class="widget_list tags_widget">
							<h2>برچسب های محصولات</h2>
							<div class="tag_cloud">
								<a href="#">بلوز</a>
								<a href="#">لورم ایپسوم</a>
								<a href="#">مد و زیبایی</a>
								<a href="#">لورم ایپسوم</a>
								<a href="#">لپ تاپ</a>
							</div>
						</div>
					</div>
				</aside>
				<!--sidebar widget end-->
			</div>
			<div class="col-lg-9 col-md-12">
				<!--shop wrapper start-->
				<!--shop toolbar start-->
				<div class="shop_toolbar_wrapper">
					<div class="shop_toolbar_btn">

						<button data-role="grid_3" type="button" class="active btn-grid-3" data-toggle="tooltip" title="3"></button>

						<button data-role="grid_4" type="button" class=" btn-grid-4" data-toggle="tooltip" title="4"></button>

						<button data-role="grid_list" type="button" class="btn-list" data-toggle="tooltip" title="لیست"></button>
					</div>
					<div class="niceselect_container">
						<form action="#">
							<label>ترتیب:</label>
							<select class="select_option" name="orderby" id="short">
								<option selected value="1">امتیاز متوسط</option>
								<option value="2">محبوبیت</option>
								<option value="3">تعداد فروش</option>
								<option value="4">قیمت صعودی</option>
								<option value="5">قیمت نزولی</option>
								<option value="6">نام محصول</option>
							</select>
						</form>
					</div>
					<div class="page_amount">
						<p>نمایش 1-12 از 24 محصول</p>
					</div>
				</div>
				<!--shop toolbar end-->
				<div class="row shop_wrapper">
                
                @if (Model != null)
                {
					@foreach (var item in Model)
					{
							<div class="col-lg-4 col-md-4 col-sm-6">
                                <article class="single_product">
                                    <figure>
                                        <div class="product_thumb">
                                            <a class="primary_img" asp-controller="Products" asp-action="Product" asp-route-id="@item.Id">
                                                <img src="/Images/@item.ImageName" width="120" height="120" />
                                            </a>
                                            <a class="secondary_img" asp-controller="Products" asp-action="Product" asp-route-id="@item.Id"><img src="/Images/@item.ImageName" alt=""></a>
                                            <div class="label_product">
                                                <span class="label_sale">فروش</span>
                                            </div>
                                            <div class="action_links">
                                                <ul>
                                                    <li class="wishlist"><a href="wishlist.html" title="افزودن به علاقه‌مندی‌ها"><i class="fa fa-heart-o" aria-hidden="true"></i></a></li>
                                                    <li class="compare"><a href="#" title="مقایسه"><span class="ion-levels"></span></a></li>
                                                    <li class="quick_button">
                                                        <a href="#" data-toggle="modal" data-target="#modal_box" title="مشاهده سریع"> <span class="ion-ios-search-strong"></span></a>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="add_to_cart">
                                                <a href="cart.html" title="افزودن به سبد">افزودن به سبد</a>
                                            </div>
                                            @* <div class="product_timing">
                                    <div data-countdown="2043/12/15"></div>
                                </div> *@
                                        </div>
                                        <figcaption class="product_content">
                                            <div class="price_box">
                                                @* <span class="old_price">86,000 تومان</span> *@
                                                <span class="current_price">@item.Price.ToString("#,0") تومان</span>
                                            </div>
                                            <h3 class="product_name">
                                                <a asp-controller="Products" asp-action="Product" asp-route-id="@item.Id">
                                                    @item.Title
                                                </a>
                                            </h3>
                                        </figcaption>
                                    </figure>
                                </article>
							</div>
					}
                }
                    </div>

				<div class="shop_toolbar t_bottom">
					<div class="pagination">
						<ul>
							<li class="current"><span>1</span></li>
							<li><a href="#">2</a></li>
							<li><a href="#">3</a></li>
							<li class="next"><a href="#">بعدی</a></li>
							<li><a href="#"><i class="fa fa-angle-double-left"></i></a></li>
						</ul>
					</div>
				</div>
				<!--shop toolbar end-->
				<!--shop wrapper end-->
			</div>
		</div>
	</div>
</div>