@model ShopUnivercity.Web.Models.Entities.Account.User
@{
    ViewData["Title"] = " کاربر " + Model.FullName;
}

<section class="content">
    <div class="row">
        <div class="col-12">
            <div class="account_dashboard">
                <div class="row">

                    <div class="card-body">
                        <div id="example1_wrapper" class="dataTables_wrapper container-fluid dt-bootstrap4">
                            <div class="row">
                                <div class="col-sm-12 col-md-6">
                                    <div class="col-sm-6">
                                        <p> نام و نام خانوادگی  : @Model.FullName</p>
                                        <p> شماره تلفن  : @Model.PhoneNumber</p>
                                        <p> آدرس  : @Model.Address</p>
                                        <p> کد پستی  : @Model.CodePost</p>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <table id="example1" class="table table-bordered table-striped dataTable" role="grid">
                                        <thead>
                                            <tr role="row">
                                                <th class="sorting_asc" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-sort="ascending" aria-label="موتور رندر: activate to sort column descending" style="width: 249.203px;">شماره فاکتور</th>
                                                <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="مرورگر: activate to sort column ascending" style="width: 444.875px;">جمع</th>
                                                <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="سیستم عامل: activate to sort column ascending" style="width: 415.625px;">وضعیت پرداخت</th>
                                                <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="ورژن: activate to sort column ascending" style="width: 116.438px;">تعداد</th>
                                            </tr>
                                        </thead>

                                        <tbody>
                                            @if (Model.Orders.Count > 0)
                                            {
                                                @foreach (var item in Model.Orders)
                                                {
                                                    <tr class="text-center">
                                                        <td>@item.Id</td>
                                                        <td>
                                                            @if (item.OrderDetails.Count > 0)
                                                            {
                                                                decimal sumPrice = 0;

                                                                foreach (var od in item.OrderDetails)
                                                                {
                                                                    sumPrice += od.Product.Price * od.Count;
                                                                }

                                                                @sumPrice.ToString("#,0")
                                                                <span> تومان </span>
                                                            }
                                                            else
                                                            {
                                                                <span>0</span>
                                                            }
                                                        </td>
                                                        <td>
                                                            @if (item.IsPay)
                                                            {
                                                                <span>پرداخت شده</span>
                                                            }
                                                            else
                                                            {
                                                                <span>پرداخت نشده</span>
                                                            }
                                                        </td>
                                                        <td>
                                                            <a asp-area="AdminPanel" asp-controller="Orders" asp-action="Order" asp-route-id="@item.Id"> جزییات</a>
                                                        </td>
                                                    </tr>
                                                }
                                            }
                                        </tbody>

                                    </table>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
