@model List<ShopUnivercity.Web.Models.Entities.Orders.Order>
@{
    ViewData["Title"] = "لیست فاکتورها";
}
<partial name="_Navbar" />
<section class="main_content_area">
    <div class="container">
        <div class="account_dashboard">
            <div class="row">
                <div class="col-sm-12 col-md-3 col-lg-3">
                    <!-- Nav tabs -->
                    <div class="dashboard_tab_button">
                        <ul role="tablist" class="nav flex-column dashboard-list">
                            <partial name="Menu" />
                        </ul>
                    </div>
                </div>
                <section class="main_content_area">
                    <div class="container">
                        <div class="account_dashboard">
                            <div class="row">

                                <div class="col-sm-12 col-md-9 col-lg-9">
                                    <div class="tab-content dashboard_content">

                                        <table class="table">
                                            <thead class="text-center">
                                                <tr role="row">
                                                    <th>شماره فاکتور</th>
                                                    <th>جمع فاکتور</th>
                                                    <th> وضعیت فاکتور </th>
                                                    <th>تاریخ فاکتور</th>
                                                    <th>جزییات فاکتور</th>
                                                </tr>
                                            </thead>

                                            <tbody>
                                                @if (Model.Count > 0)
                                                {
                                                    @foreach (var item in Model)
                                                    {
                                                        <tr class="text-center">
                                                            <td>
                                                                @item.Id
                                                                <br />
                                                                @item.PaymentCode
                                                            </td>
                                                            <td>
                                                                @if (item.OrderDetails.Count > 0)
                                                                {
                                                                    decimal sumPrice = 0;
                                                                    @foreach (var i in item.OrderDetails)
                                                                    {
                                                                        var price = i.Product.Price;

                                                                        sumPrice += price * i.Count;
                                                                    }
                                                                    @sumPrice.ToString("#,0")
                                                                    <span> تومان </span>
                                                                }
                                                                else
                                                                {
                                                                    <span>0</span>
                                                                }
                                                            </td>
                                                            <td>
                                                                @if (item.PaymentCode != null)
                                                                {
                                                                    <span class="text-success"> پرداخت شده </span>
                                                                }
                                                                else
                                                                {
                                                                    <span class="text-danger"> پرداخت نشده </span>
                                                                }
                                                            </td>
                                                            <td>@item.CreateDate</td>
                                                            <td>
                                                                <a asp-area="UserPanel" asp-controller="Orders" asp-action="Order" asp-route-id="@item.Id">
                                                                    جزییات
                                                                </a>
                                                                @if (item.PaymentCode == null)
                                                                {
                                                                    <a asp-area="UserPanel" asp-controller="Payments" asp-action="Pay">
                                                                        پرداخت
                                                                    </a>
                                                                }
                                                            </td>
                                                        </tr>
                                                    }
                                                }
                                            </tbody>

                                        </table>

                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</section>
